.button {
  background: linear-gradient(
    112.69deg,
    #e22828 -31.6%,
    rgba(226, 40, 40, 0) 103.2%
  );
  border: 1px solid #f81d27;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #ffffff;
  width: 100%;
  padding: 10px 0px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 6vh;
  @media only screen and (max-width: 650px) {
    margin-left: auto;
    margin-right: auto;
  }
}
