.button {
  background: linear-gradient(
    112.69deg,
    #e22828 -31.6%,
    rgba(226, 40, 40, 0) 103.2%
  );
  border: 1px solid #f81d27;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  max-width: 310px;
  margin-top: 0;
  outline: none;
  padding-left: 19px;
  padding-right: 19px;
  @media only screen and (max-width: 650px) {
    margin-right: auto;
  }
  &--mobile {
    @media only screen and (min-width: 631px) {
      display: none;
    }
  }
  &--desktop {
    display: inline-block;
    max-width: initial;
    width: initial;
    padding-left: 19px;
    padding-right: 19px;
    position: absolute;
    top: 10%;
    right: 4%;
    &-slideright {
      opacity: 0;
      animation-duration: 2s;
      animation-delay: 3s;
      animation-name: slideright;
      animation-fill-mode: forwards;
    }
    @media only screen and (max-width: 630px) {
      display: none;
    }
  }
  
  &__users {
    position: absolute;
    right: 6%;
    top: 50%;
    z-index: 1;
    
  }
}
.registerMobil {
  width: 100%;
  @media only screen and (min-width: 650px) {
    position: absolute;
    left: 4%;
    bottom: 3%;
  }
  @media only screen and (min-width: 1000px) {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
}
@keyframes slideright {
  from {
    opacity: 0;
    right: -1%;
  }
  to {
    right: 2%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
