@media only screen and (max-width: 500px) {
    .button {
        background: linear-gradient(112.69deg, #E22828 -31.6%, rgba(226, 40, 40, 0) 103.2%);
        border: 1px solid #F81D27;
        box-sizing: border-box;
        border-radius: 4px;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        width: 100%;
        padding: 10px 0px;
        font-family: Object Sans;
       
    }
}


