.logo {
  width: 206px;
  position: relative;
  animation-duration: 2s;
  animation-name: slidein;
  @media only screen and (min-width: 630px) {
    width: 254px;
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      left: -40%;
    }
  
    to {
      left: 0%;
    }
    50% {
      filter: brightness(0%)
    }
    80% {
      filter: brightness(100%)
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__close-btn {
    cursor: pointer;
    width: 37px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-25 {
  margin-top: 25px;
}
