.logo {
  width: 206px;
  @media only screen and (min-width: 630px) {
    width: 254px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__close-btn {
    cursor: pointer;
    width: 37px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-25 {
  margin-top: 25px;
}
