.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto !important;
  &__hastag {
    color: white;
    font-weight: 300;
    line-height: 20px;
  }
  &__line {
    width: 91px;
    height: 1px;
    background: white;
  }
}
