.home {
  background: linear-gradient(180deg, #000000 47.6%, #230000 100%);
  min-height: 100vh;
  padding: 0% 4% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  @media only screen and (max-width: 630px) {
    padding: 0 10% 0;
  }
  &__startevent {
    color: black;
    text-align: center;
    font-size: 4.1em;
    border-radius: 10px;
    border: 2px solid #f81d27;
    padding: 10px 20px;
    position: absolute;
    bottom: 9%;
    left: 3%;
    background: white;
  }
  &__points {
    position: absolute;
    top: 0%;
    right: 11%;
    @media only screen and (min-width: 1000px) {
      display: none;
    }
  }
  &__circleright {
    position: absolute;
    top: 8.33%;
    right: 0%;
    @media only screen and (min-width: 1000px) {
      display: none;
      
    }
  }
  &__circleleft {
    position: absolute;
    top: 30.73%;
    left: 0%;
    @media only screen and (min-width: 1000px) {
      display: none;
    }
  }
  &__circletop {
    display: none;
    @media only screen and (min-width: 800px) {
      position: absolute;
      top: 0%;
      right: 30%;
      display: block;
    }
    @media only screen and (min-width: 1000px) {
      right: 34%;
      &-bottomsappeartop {
        opacity: 0;
        animation-name: bottomsappeartop;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
    }
  }
  &__circlerightbig {
    display: none;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      top: 23%;
      right: 0%;
      display: block;
      &-bottomsappear { 
        opacity: 0;
        animation-name: bottomsappear;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
    }
  }
  &__ellipsetop {
    display: none;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      top: 25%;
      right: 28%;
      display: block;
    }
  }
  &__ellipsemiddle {
    display: none;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      bottom: 30%;
      left: 45%;
      display: block;
      &-slidemiddlepoint {
        animation-name: slidemiddlepoint;
        animation-delay: 6s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
    @media only screen and (min-width: 1200px) {
      bottom: 24%;
      left: 45%;
    }
  }
  &__ellipsebottom {
    display: none;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      bottom: -2%;
      left: 5%;
      display: block;
      &-slideuppoint {
        animation-name: slideuppoint;
        animation-delay: 5s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
    @media only screen and (min-width: 1200px) {
      left: 4%;
    }
  }
  &__pointstopsquare {
    display: none;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      top: 0%;
      right: 22%;
      display: block;
    }
  }
  &__pointsmiddle {
    display: none;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      bottom: 14%;
      left: 32.5%;
      display: block;
    }
    @media only screen and (min-width: 1200px) {
      bottom: 8%;
      left: 30%;
    }
  }
  &__pointsbottom {
    display: none;
    @media only screen and (min-width: 1200px) {
      position: absolute;
      bottom: -8%;
      right: 40%;
      height: 230px;
      display: block;
      &-appearpoints {
        animation-name: appearpoints;
        animation-delay: 4s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
  }
}
@keyframes bottomsappear {
  from {
    opacity: 0;
    right: -8%;
  }

  to {
    right: 0%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bottomsappeartop {
  from {
    opacity: 0;
    top: -10%;
  }
  to {
    top: 0%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearpoints {
  from {
    opacity: 0;
    bottom: -10%;
  }
  to {
    bottom: 0%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideuppoint {
  from {
    opacity: 0;
    bottom: -2%;
  }
  to {
    bottom: 0%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidemiddlepoint {
  from {
    opacity: 0;
    bottom: 30%;
  }
  to {
    bottom: 29%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}