.description {
  text-align: left;
  &__title {
    font-weight: 800;
    font-style: normal;
    line-height: 34px;
    font-size: 31px;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 0;
    max-width: 296px;
    position: relative;
    z-index: 10;
    &--red {
      color: #f81d27;
      margin-bottom: 0;
    }
    @media only screen and (min-width: 630px) {
      line-height: 63px;
      font-size: 57px;
      max-width: 564px;
    }
  }
  &__advertisement {
    font-weight: 200;
    font-style: normal;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #ffffff;
    max-width: 295px;
    @media only screen and (min-width: 630px) {
      line-height: 20px;
      font-size: 14px;
      max-width: 601px;
    }
  }
}
