.countable {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-name: slidecountable;
  animation-fill-mode: forwards;
  margin-top: 2%;
  &__title {
    font-weight: 800;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.23em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 11px;
    text-align: left;
    @media only screen and (max-width: 450px) {
      text-align: center;
    }
    @media only screen and (min-width: 630px) {
      line-height: 17px;
      font-size: 12px;
      letter-spacing: 0.15em;
    }
  }
  .clock {
    display: flex;
    text-align: center;
    .time {
      border: 1px solid #c4c4c4;
      padding: 14px 0 9px;
      width: 75.5px;
      @media only screen and (min-width: 630px) {
        width: 94px;
      }
      &:hover {
        background: linear-gradient(
          244.82deg,
          #e22828 3.9%,
          rgba(226, 40, 40, 0) 77.43%
        );
        border: 1px solid #f81d27;
      }
      &__number {
        display: block;
        font-weight: 200;
        line-height: 41px;
        font-size: 38px;
        color: #ffffff;
        align-self: center;
        @media only screen and (min-width: 630px) {
          line-height: 49px;
          font-size: 45px;
        }
      }
      &__reference {
        display: block;
        line-height: 10px;
        font-size: 9px;
        letter-spacing: 0.35em;
        color: #ffffff;
        padding-bottom: 4px;
        font-weight: 300;
        @media only screen and (min-width: 630px) {
          line-height: 12px;
          font-size: 11px;
          letter-spacing: 0.35em;
        }
      }
    }
  }
}
@keyframes slidecountable {
  from {
    opacity: 0;
    margin-top: 2%;
  }
  to {
    margin-top: 0%;

  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
